<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class='col-md-4'></div>
                <div class="about">
            </div>
                <img src="http://timeshare-resale-blog.rpmls.com/wp-content/uploads/Rustic-For-Sale-Sign.jpg" class="about-img">
                <p class='abouttxt'>Digital Yardsale was founded in November 2016 by Kevin Bryant, Shaun Fuller, Lonnie Jones, and Alexander von Bredow. It is an e commerce app built off the idea of taking yardsales and making them digital. With this app users will be able to browse our catalog of user submitted items, purchase said items, and upload items of their own to sell.</p>
            </div>

        </div>

    </div>

</div>
