

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about">
                <img src="/assets/img/selogo.png">
                <p>Was founded in November 2016 by Kevin Bryant, Shaun Fuller, Lonnie Jones, and Alexander von Bredow. We started as a group of four students that wanted to bring an e-commerce site to life.  The application Digital Yard Sale was brought to life with the idea of this could be a place for people to sell items online that they would normally sell at a yard sale</p>
            </div>

        </div>

    </div>

</div>

