<div class="well well-lg col-md-6">
    <h2> List an item for sale!</h2>
    <hr id="hr-maincontent">
    <form class=" makenew" action="/Listproducts" method="POST">
        <div class="form-group" >
            <label for="name">Product Name</label>
            <textarea class="form-control" id="name" name="productname"></textarea>
        </div>
            <input type="hidden" name="purchased" value="0">
            <div class="form-group" >
            <label for="Price">Product Price</label>
            <input type="number" min="0" max="999" class="form-control" id="Price" name="price"></input>
        </div>
            <div class="form-group" >
            <label for="location">Product Location</label>
            <textarea class="form-control" id="location" name="location"></textarea>
        </div>
        <div class="form-group">
            <label for="departmentname">Category:</label>
            <select class="form-control" id="departmentname" name="departmentname">
              <option>Athletics</option>
              <option>Automotive</option>
              <option>Books</option>
              <option>Clothing</option>
              <option>Cooking</option>
              <option>Gaming</option>
              <option>Music</option>
              <option>Outdoor</option>
              <option>Technology</option>
              <option>Toys</option>
            </select>
        </div>
            <div class="form-group" >
            <label for="url">Image URL</label>
            <textarea class="form-control" id="url" name="imageurl"></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
