

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <section class="well well-xl">
                <h2>Contact</h2>
                <hr id="hr-maincontent">
                    <form method="post" action="">
                        <fieldset class="form-group">
                            <label for="fullname">Name</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="John Smith">
                        </fieldset>
                        <fieldset class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="example@gmail.com">
                        </fieldset>
                        <fieldset class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id='message'></textarea>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </section>
        </div>
    </div>
</div>

