<div class="container text-center">
	<div class="row">
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-futbol-o fa-5x" aria-hidden="true"> </i>
				<a href="/Athletics"> <h2>Athletics</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class = "fa fa-home fa-5x" aria-hidden="true"> </i>
				<a href="/Technology"> <h2>Technology</h2> </a>
			</div>
		</div>
		<div class="col-md-4"> 
			<div class="well well-lg">  
				<i class="fa fa-gamepad fa-5x" aria-hidden="true"> </i>
				<a href="/Gaming"> <h2>Gaming</h2> </a>
			</div>
		</div>
	</div>

{{!================Row2===================================}}
	
	<div class="row">
		<div class="col-md-4">
			<div class="well well-lg">
			<i class="fa fa-home fa-5x" aria-hidden="true"> </i> 
			<a href="/Home"> <h2>Home</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-cutlery fa-5x" aria-hidden="true"> </i>
				<a href="/Cooking"> <h2>Cooking</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-rocket fa-5x" aria-hidden="true"> </i>
				<a href="/Toys"> <h2>Toys/Figures</h2> </a>
			</div>
		</div>
	</div>

{{!================Row3===================================}}

	<div class="row">
		<div class="col-md-4">
			<div class="well well-lg">
				<i class="fa fa-pagelines fa-5x" aria-hidden="true"> </i>
				<a href="/Outdoor"> <h2>Yard/Outdoor</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg">
				<i class="fa fa-book fa-5x" aria-hidden="true"> </i> 
				<a href="/Books"> <h2>Books</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg">
			 	<i class="fa fa-music fa-5x" aria-hidden="true"> </i>
			 	<a href="/Music"> <h2>Music</h2> </a>
			</div>
		</div>
	</div>
{{!================Row4===================================}}

	<div class="row">
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-wrench fa-5x" aria-hidden="true" > </i>
				<a href="/Automotive"> <h2>Automotive</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-shopping-bag fa-5x" aria-hidden="true"> </i>
				<a href="/Clothing"> <h2>Clothing</h2> </a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg"> 
				<i class="fa fa-motorcycle fa-5x" aria-hidden="true"> </i>
				<a href="/Custom_Makes"> <h2>Custom Makes</h2> </a>
			</div>
		</div>
	</div>
</div>