
<div class="container text-center">
	<div class="row">
		<div class="col-md-3">
			<div class="well well-lg">
				{{#each products}}
                    {{!-- {{#unless this.purchased}} --}}
                    {{this.productname}}
                    <form action="/index?_method=PUT" method="POST">
                        <input class="form-control" type="hidden" name="productname">
                    </form>
                    {{!-- {{/unless}} --}}
                {{/each}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-lg">
				<h2>EGO</h2>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-lg">
				<h2>RYS</h2>
			</div>
		</div>
	</div>
</div>

 <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-12"> -->
                    <p id="copyright" class="text-center">&copy; Copyright 2016 Superb Excellence</p>
               <!-- </div>
            </div>
        </div> -->
</footer>
