<header>
		<nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Digital Yard Sale</a>
			</div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Categories</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
		</div>
        </nav>
</header>



 <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-12"> -->
                    <p id="copyright" class="text-center">&copy; Copyright 2016 Superb Excellence</p>
               <!-- </div>
            </div>
        </div> -->   		
</footer>