.well {
	background-image: transparent !important;
	background-color: black !important;
	opacity: 0.6;
	color: #ffffff;
}

.about p {
	font-size: 40px;
}

.title {
	font-size: 30px;
}

.images {
	width: 150px; height: 150px;
}

.form-group {
    width: 80%;
}

.navbar {
    background-color: grey;

}
