.well {
	background-image: transparent !important;
	background-color: black !important;
	opacity: 0.6;
	color: #ffffff;
}

.about p {
	font-size: 50px;
}

.title {
	font-size: 30px;
}

.images {
	width: 150px; height: 150px;
}